body {
	background: #e6ffff;
	max-width: 700px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #001a1a;
	font-family: Tahoma;
}

article {
	border: 3px dashed #003366;
	padding: 5px;
	margin: 20px;
}

img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 25px;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url(ocean.jpeg);
}

li a {
	float: left;
	display: block;
	color: #ffe6ff;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #003366;
}

h1, h2 {
	font-family: Papyrus;
}

.inputtext {
	width: 100%;
	box-sizing: border-box;
	padding: 4px 10px;
	outline: none;
}

.form {
	background-color: #e6e6e6;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
}

a:link {
	color: #005266;
}

a:visited {
	color: #ff4dff;
}
